/*按优先级排列，有严格顺序，不能随意调整顺序*/
.ofv {
	overflow: visible;
}

.ofh {
	overflow: hidden;
}

.ofs {
	overflow: scroll;
}

.ofa {
	overflow: auto;
}

.ofs-x {
	overflow-x: scroll;
}

.ofs-y {
	overflow-y: scroll;
}

.ofa-x {
	overflow-x: auto;
}

.ofa-y {
	overflow-y: auto;
}

.w-100 {
	width: 100%;
}

.h-100 {
	height: 100%;
}

.w-0 {
	width: 0;
}

.h-0 {
	height: 0;
}

.fit {
	width: 100%;
	height: 100%;
}

.wmc {
	width: max-content;
}

.bsb {
	box-sizing: border-box;
}

.bsc {
	box-sizing: content-box;
}

/*优先级远远小于bootstrap5的d-flex，当需要更高的优先级时，可使用bs5的工具类名*/
.dpf {
	display: flex;
}

.fdc {
	flex-direction: column;
}

.dpf-c {
	display: flex;
	flex-direction: column;
}

.fww {
	flex-wrap: wrap;
}

.jcs {
	justify-content: flex-start;
}

.jcc {
	justify-content: center;
}

.jce {
	justify-content: flex-end;
}

.jcb {
	justify-content: space-between;
}

.jca {
	justify-content: space-around;
}

.ais {
	align-items: flex-start;
}

.aie {
	align-items: flex-end;
}

.aic {
	align-items: center;
}

.fcc {
	justify-content: center;
	align-items: center;
}

.fgw-1 {
	flex-grow: 1;
}

.fgw-0 {
	flex-grow: 0;
}

.fsk-1 {
	flex-shrink: 1;
}

/* flex布局尺寸调整时，不自动收缩 */
.fsk-0 {
	flex-shrink: 0;
}

.dpb {
	display: block;
}

.dpi {
	display: inline;
}

.dpi.dpf,
.dpi-f {
	display: inline-flex;
}

.dpi.dpb,
.dpi-b {
	display: inline-block;
}

.dpn,
.hidden {
	display: none;
}

.dpg {
	display: grid;
}

.psr {
	position: relative;
}

.psa {
	position: absolute;
}

.psa.fit {
	top: 0;
	left: 0;
}

.psf {
	position: fixed;
}

.pss {
	position: static;
}

.tac {
	text-align: center;
}

.tal {
	text-align: left;
}

.tar {
	text-align: right;
}

.oln {
	outline: none;
}

.vam {
	vertical-align: middle;
}

/*single-line，单行省略号*/
.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/*清除浮动*/
.clear::after {
	content: "";
	display: block;
	clear: both;
	width: 0;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

ul.no-style {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.border-default {
	border: var(--uix-default-border);
}

/* border bottom default */
.bbd {
	border-bottom: var(--uix-default-border);
}

.btd {
	border-top: var(--uix-default-border);
}

/* 无边框 */
.no-border {
	border: none;
}

/* no border left */
.nbl {
	border-left: none;
}

.nbr {
	border-right: none;
}

.nbt {
	border-top: none;
}

.nbb {
	border-bottom: none;
}

.round-default {
	border-radius: 10px;
}

.round-none {
	border-radius: 0;
}

.csr-p {
	cursor: pointer;
}

.csr-d {
	cursor: default;
}

.usn {
	user-select: none;
}

/* 默认盒阴影 */
.shadow-default {
	box-shadow: 2px 2px 3px #ccc;
}

/* 透明 */
.opa-0 {
	opacity: 0;
}

/* 间距 */
/* 内边距：padding */
.p-5 {
	padding: 4rem;
}

.p-4 {
	padding: 2rem;
}

.p-3 {
	padding: 1rem;
}

.p-2 {
	padding: .5rem;
}

.p-1 {
	padding: .25rem;
}

.p-0 {
	padding: 0;
}

.px-5 {
	padding-left: 4rem;
	padding-right: 4rem;
}

.px-4 {
	padding-left: 2rem;
	padding-right: 2rem;
}

.px-3 {
	padding-left: 1rem;
	padding-right: 1rem;
}

.px-2 {
	padding-left: .5rem;
	padding-right: .5rem;
}

.px-1 {
	padding-left: .25rem;
	padding-right: .25rem;
}

.px-0 {
	padding-left: 0;
	padding-right: 0;
}

.py-5 {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.py-4 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.py-3 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.py-2 {
	padding-top: .5rem;
	padding-bottom: .5rem;
}

.py-1 {
	padding-top: .25rem;
	padding-bottom: .25rem;
}

.py-0 {
	padding-top: 0;
	padding-bottom: 0;
}

.pt-5 {
	padding-top: 4rem;
}

.pt-4 {
	padding-top: 2rem;
}

.pt-3 {
	padding-top: 1rem;
}

.pt-2 {
	padding-top: .5rem;
}

.pt-1 {
	padding-top: .25rem;
}

.pt-0 {
	padding-top: 0;
}

.pr-5 {
	padding-right: 4rem;
}

.pr-4 {
	padding-right: 2rem;
}

.pr-3 {
	padding-right: 1rem;
}

.pr-2 {
	padding-right: .5rem;
}

.pr-1 {
	padding-right: .25rem;
}

.pr-0 {
	padding-right: 0;
}

.pb-5 {
	padding-bottom: 4rem;
}

.pb-4 {
	padding-bottom: 2rem;
}

.pb-3 {
	padding-bottom: 1rem;
}

.pb-2 {
	padding-bottom: .5rem;
}

.pb-1 {
	padding-bottom: .25rem;
}

.pb-0 {
	padding-bottom: 0;
}

.pl-5 {
	padding-left: 4rem;
}

.pl-4 {
	padding-left: 2rem;
}

.pl-3 {
	padding-left: 1rem;
}

.pl-2 {
	padding-left: .5rem;
}

.pl-1 {
	padding-left: .25rem;
}

.pl-0 {
	padding-left: 0;
}

/* 盒模型外边距 */
.m-5 {
	margin: 4rem;
}

.m-4 {
	margin: 2rem;
}

.m-3 {
	margin: 1rem;
}

.m-2 {
	margin: .5rem;
}

.m-1 {
	margin: .25rem;
}

.m-0 {
	margin: 0;
}

.mx-5 {
	margin-left: 4rem;
	margin-right: 4rem;
}

.mx-4 {
	margin-left: 2rem;
	margin-right: 2rem;
}

.mx-3 {
	margin-left: 1rem;
	margin-right: 1rem;
}

.mx-2 {
	margin-left: .5rem;
	margin-right: .5rem;
}

.mx-1 {
	margin-left: .25rem;
	margin-right: .25rem;
}

.mx-0 {
	margin-left: 0;
	margin-right: 0;
}

.my-5 {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.my-4 {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.my-3 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.my-2 {
	margin-top: .5rem;
	margin-bottom: .5rem;
}

.my-1 {
	margin-top: .25rem;
	margin-bottom: .25rem;
}

.my-0 {
	margin-top: 0;
	margin-bottom: 0;
}

.mt-5 {
	margin-top: 4rem;
}

.mt-4 {
	margin-top: 2rem;
}

.mt-3 {
	margin-top: 1rem;
}

.mt-2 {
	margin-top: .5rem;
}

.mt-1 {
	margin-top: .25rem;
}

.mt-0 {
	margin-top: 0;
}

.mr-5 {
	margin-right: 4rem;
}

.mr-4 {
	margin-right: 2rem;
}

.mr-3 {
	margin-right: 1rem;
}

.mr-2 {
	margin-right: .5rem;
}

.mr-1 {
	margin-right: .25rem;
}

.mr-0 {
	margin-right: 0;
}

.mb-5 {
	margin-bottom: 4rem;
}

.mb-4 {
	margin-bottom: 2rem;
}

.mb-3 {
	margin-bottom: 1rem;
}

.mb-2 {
	margin-bottom: .5rem;
}

.mb-1 {
	margin-bottom: .25rem;
}

.mb-0 {
	margin-bottom: 0;
}

.ml-5 {
	margin-left: 4rem;
}

.ml-4 {
	margin-left: 2rem;
}

.ml-3 {
	margin-left: 1rem;
}

.ml-2 {
	margin-left: .5rem;
}

.ml-1 {
	margin-left: .25rem;
}

.ml-0 {
	margin-left: 0;
}

/* 通用配色系统 */
.bg-primary {
	background-color: var(--uix-blue);
	color: var(--uix-light);
}

.bg-secondary {
	background-color: var(--uix-grey-600);
	color: var(--uix-light);
}

.bg-success {
	background-color: var(--uix-green);
	color: var(--uix-light);
}

.bg-info {
	background-color: var(--uix-teal);
	color: var(--uix-light);
}

.bg-warning {
	background-color: var(--uix-orange);
	color: var(--uix-light);
}

.bg-danger {
	background-color: var(--uix-red);
	color: var(--uix-light);
}

.bg-red {
	background-color: var(--uix-red);
	color: var(--uix-light);
}

.bg-olive {
	background-color: var(--uix-olive);
	color: var(--uix-light);
}

.bg-green {
	background-color: var(--uix-green);
	color: var(--uix-light);
}

.bg-blue {
	background-color: var(--uix-blue);
	color: var(--uix-light);
}

.bg-orange {
	background-color: var(--uix-orange);
	color: var(--uix-light);
}

.bg-yellow {
	background-color: var(--uix-yellow);
	color: var(--uix-light);
}

.bg-pink {
	background-color: var(--uix-pink);
	color: var(--uix-light);
}

.bg-violet {
	background-color: var(--uix-violet);
	color: var(--uix-light);
}

.bg-purple {
	background-color: var(--uix-purple);
	color: var(--uix-light);
}

.bg-brown {
	background-color: var(--uix-brown);
	color: var(--uix-light);
}

.bg-teal {
	background-color: var(--uix-teal);
	color: var(--uix-light);
}

.bg-white {
	background-color: var(--uix-white);
	color: var(--uix-dark);
}

.bg-black {
	background-color: var(--uix-black);
	color: var(--uix-light);
}

.bg-dark {
	background-color: var(--uix-dark);
	color: var(--uix-light);
}

.bg-light {
	background-color: var(--uix-light);
	color: var(--uix-dark);
}

.bg-darkblue {
	background-color: var(--uix-darkblue);
	color: var(--uix-light);
}

.bg-grey {
	background-color: var(--uix-grey);
	color: var(--uix-light);
}

.bg-grayish {
	background-color: var(--uix-grayish);
	color: var(--uix-dark);
}

.bg-grey-100 {
	background-color: var(--uix-grey-100);
	color: var(--uix-dark);
}

.bg-grey-200 {
	background-color: var(--uix-grey-200);
	color: var(--uix-dark);
}

.bg-grey-300 {
	background-color: var(--uix-grey-300);
	color: var(--uix-dark);
}

.bg-grey-400 {
	background-color: var(--uix-grey-400);
	color: var(--uix-dark);
}

.bg-grey-500 {
	background-color: var(--uix-grey-500);
	color: var(--uix-light);
}

.bg-grey-600 {
	background-color: var(--uix-grey-600);
	color: var(--uix-light);
}

.bg-grey-700 {
	background-color: var(--uix-grey-700);
	color: var(--uix-light);
}

.bg-grey-800 {
	background-color: var(--uix-grey-800);
	color: var(--uix-light);
}

.bg-grey-900 {
	background-color: var(--uix-grey-900);
	color: var(--uix-light);
}

.text-primary {
	color: var(--uix-blue);
}

.text-secondary {
	color: var(--uix-gray-600);
}

.text-success {
	color: var(--uix-green);
}

.text-info {
	color: var(--uix-cyan);
}

.text-warning {
	color: var(--uix-yellow);
}

.text-danger {
	color: var(--uix-red);
}

.text-red {
	color: var(--uix-red);
}

.text-green {
	color: var(--uix-green);
}

.text-blue {
	color: var(--uix-blue);
}

.text-orange {
	color: var(--uix-orange);
}

.text-yellow {
	color: var(--uix-yellow);
}

.text-pink {
	color: var(--uix-pink);
}

.text-indigo {
	color: var(--uix-indigo);
}

.text-pruple {
	color: var(--uix-purple);
}

.text-teal {
	color: var(--uix-teal);
}

.text-cyan {
	color: var(--uix-cyan);
}

.text-white {
	color: var(--uix-white);
}

.text-grey {
	color: var(--uix-grey);
}

.text-dark {
	color: var(--uix-dark);
}

.text-light {
	color: var(--uix-light);
}

/* 通用图标系统 */
.ico {
	display: inline-block;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.ico-16 {
	width: 16px;
	height: 16px;
}

.ico-20 {
	width: 20px;
	height: 20px;
}

.ico-32 {
	width: 32px;
	height: 32px;
}

.ico-64 {
	width: 64px;
	height: 64px;
}

.ico-128 {
	width: 128px;
	height: 128px;
}

.ico-256 {
	width: 256px;
	height: 256px;
}

/* 属性动画 */
.tsn {
	transition: all .3s;
}

/* 旋转90度 */
.tsf-r90 {
	transform: rotate(90deg);
}

/* 正常字体 */
.fsn {
	font-style: normal;
}