[data-comp-type=pagination] {
    font-size: 12px;
}

/* 总数和总记录数 */
[data-comp-type=pagination] [data-comp-role=total] i {
    font-style: normal;
}

/* 跳转到指定页 */
[data-comp-type=pagination] [data-comp-role=goto] {
    width: 90px;
    height: 27px;
}

[data-comp-type=pagination] [data-comp-role=goto] .uix-input-facade {
    text-align: center;
}

/* 页面大小 */
[data-comp-type=pagination] [data-comp-role=page-size] {
    width: 100px;
    height: 27px;
}

[data-comp-type=pagination] [data-comp-role=prev],
[data-comp-type=pagination] [data-comp-role=next],
[data-comp-type=pagination] [data-comp-role=first],
[data-comp-type=pagination] [data-comp-role=last],
[data-comp-type=pagination] [data-comp-role=numbers]>[data-comp-type=button] {
    margin-left: -1px;
}

/* 页码激活样式 */
[data-comp-type=pagination] [data-comp-role=numbers]>[data-comp-type=button].active {
    background-color: #1E9FFF;
    color: #fff;
    border-top-color: #1E9FFF;
    border-bottom-color: #1E9FFF;
}