.datagrid {
    border-collapse: collapse;
    margin: -1px;
    /* 必须指定列宽度，若不指定，则默认为100%，当为100%时，列指定的宽度将失效 */
    width: 0;
    table-layout: fixed;
    word-break: break-all;
}

/* 表格列默认宽度 */
.datagrid>thead>tr>th {
    width: 100px;
}

.datagrid>thead>tr>th {
    border: 1px solid #ccc;
    text-align: center;
    background-color: var(--uix-light);
}

.datagrid>thead>tr>th>div {
    box-sizing: border-box;
    padding: 8px;
}

/* 行序号列 */
.datagrid>thead>tr>th.rownum {
    width: 50px;
    text-align: center;
}

.datagrid>thead>tr>th.checkbox {
    width: 50px;
    text-align: center;
}

/* 表头复选框 */
.datagrid>thead>tr>th.checkbox [data-comp-type=checkbox]>[data-comp-role~=body] {
    width: 16px;
    height: 16px;
}

.datagrid>tbody>tr>td {
    border: 1px solid #ccc;
    overflow: hidden;
}

.datagrid>tbody>tr>td>div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 8px;
    box-sizing: border-box;
}

/* 行序号列 */
.datagrid>tbody>tr>td.rownum {
    text-align: center;
}

.datagrid>tbody>tr>td.checkbox {
    text-align: center;
}

/* 行复选框 */
.datagrid>tbody>tr>td.checkbox [data-comp-type=checkbox]>[data-comp-role~=body] {
    width: 16px;
    height: 16px;
}

.datagrid>tbody>tr:nth-child(even) {
    background-color: #fcfcfc;
}

.datagrid>tbody>tr:hover {
    background-color: #f1f1f1;
}

/* 行选中 */
.datagrid>tbody>tr.selected {
    background-color: #dbfbf0;
}

.datagrid>tbody>tr.data-empty>td {
    text-align: center;
    padding: 30px;
    color: gray;
}