[data-comp-type=radio]>[data-comp-role~=outbody] {
    width: var(--uix-d4u, 1.25rem);
    height: var(--uix-d4u, 1.25rem);
    border-width: 1.5px;
    border-radius: 50%;
    border-color: #c2c2c2;
    border-style: solid;
}

[data-comp-type=radio].checked>[data-comp-role~=outbody] {
    border-color: #5FB878;
}

[data-comp-type=radio].checked>[data-comp-role~=outbody]::after {
    content: '';
    display: block;
    /* todo:使用40%并不能准确的计算出8px */
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #5FB878;
    position: absolute;
}

[data-comp-type=radio]>[data-comp-role~=label] {
    margin: 0 5px;
}

[data-comp-type=radio].checked>[data-comp-role~=outbody].uix-scale-spring {
    animation-name: uix-scale-spring;
    animation-duration: .3s;
    animation-fill-mode: both;
}

/* 单选按钮动画 */
@keyframes uix-scale-spring {
    0% {
        opacity: .5;
        transform: scale(.5)
    }

    80% {
        opacity: .8;
        transform: scale(1.1)
    }

    100% {
        opacity: 1;
        transform: scale(1)
    }
}

/* 单选按钮禁用样式 */
[data-comp-type=radio].disabled {
    background-color: unset;
    cursor: not-allowed;
}

[data-comp-type=radio].disabled>.panel-mask {
    background-color: unset;
}