/* 使中文标题尽量垂直居中 */
[data-comp-role~=ci] {
	width: 16px;
	height: 16px;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin-right: 3px;
}