[data-comp-type=scrollpane]>[data-comp-role~=prev],
[data-comp-type=scrollpane]>[data-comp-role~=next] {
    color: #fff;
    background-color: var(--uix-blue);
    width: 20px;
    height: 100%;
}

[data-comp-type=scrollpane]>[data-comp-role~=prev]:hover,
[data-comp-type=scrollpane]>[data-comp-role~=next]:hover {
    background-color: var(--uix-orange);
}

[data-comp-type=scrollpane]>[data-comp-role~=prev]>[data-comp-role~=si],
[data-comp-type=scrollpane]>[data-comp-role~=next]>[data-comp-role~=si] {
    margin-right: 0;
}

/* 每个子元素间距 */
[data-comp-type=scrollpane]>[data-comp-role~=body]>[data-comp-role~=container]>* {
    flex-shrink: 0;
}