/* 使中文标题尽量垂直居中 */
[data-comp-type=dialog]>[data-comp-role~=header]>[data-comp-role~=title] {
    margin-top: -2px;
}

/* alert、confirm、prompt样式 */
.messager[data-comp-type=dialog] {
    min-width: 500px;
    min-height: 200px;
    max-width: 600px;
    max-height: 300px;
}

.messager[data-comp-type=dialog]>[data-comp-role~=body]>div {
    padding: 15px;
}

/* uix.info框 */
.messager[data-comp-type=panel] {
    background-color: rgba(0, 0, 0, 0.5);
    color: #eee;
    position: absolute;
    min-width: 300px;
    min-height: 60px;
    max-width: 400px;
    max-height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.uix-iframe-dialog>[data-comp-role~=body] iframe {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
}